@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    /* tranforma o font size padrão que era 16px, para 10px */
    font-size: 62.5%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo span {
    font-weight: 800;
    font-size: 2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    font-size: 1.5rem;
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
    margin-left: 1.5rem;
}

.menu li a:hover {
    background-color: #5BC241;
    color: #ffffff;
}

.menu li a.btn {
    background-color: #5BC241;
    border-radius: 10px;
    font-weight: 300;
    color: #fff;
    margin-left: 2rem;
    padding: 1rem 2rem;
}