@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-color);
    border-radius: 10px;
    max-width: 450px;
    padding: 20px;
}

.card .advice-id {
    color: var(--secundary-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.card .advice-description {
    font-size: 23px;
    padding: 23px;
    text-align: center;
}

.card picture img {
    width: 100%;
}

.advice-update {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--secundary-color);
    transform: translateY(50px);
}

.card .advice-update:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}