html {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.container {
    background-color: #F7F7F7;
    max-width: 900px;
    display: grid;
    grid-template-areas: "video-destaque propaganda"
                         "video-destaque videos-recomendados";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    justify-content: center;
    gap: 20px;
    padding: 38px 35px;
}

.video-destaque {
    grid-area: video-destaque;
}

.video-destaque img {
    width: 100%;
    margin-bottom: 12px;
}

.video-destaque .informacoes h1 {
    font-size: 18px;
    margin-bottom: 7px;
}

.video-destaque .informacoes .visualizacoes {
    font-size: 14px;
    margin-bottom: 9px;
}

.propaganda {
    grid-area: propaganda;
}

.videos-recomendados{
    grid-area: videos-recomendados;
}

.video {
    display: flex;
    gap: 4px;
    margin-bottom: 15px;
}

.video .informacoes h2 {
    font-size: 14px;
    margin-bottom: 7px;
}

.video .informacoes p {
    font-size: 11px;
    margin-bottom: 5px;
}