h1 {
    color: green;
}

.paragrafo {
    color: blue;
}

#menu {
    margin-left: 100px;
}

* {
    padding: 0;
    font-size: 20px;
}

.titulo {
    font-size: 30px;
}

.titulo.vermelho {
    color: red;
}

.titulo.laranja {
    color: orange;
}

p, span {
    font-size: 10px;
}

.sobre .texto {
    color: violet;
}

div > p {
    color: peru;
}

/* Queremos estilizar todos os p que venham imediatamente
após uma tag div (estando na mesma hierarquia)*/
div + p {
    color: royalblue;
}

a[target=_blank]{
    color: red;
}









