body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.quadrado {
    width: 200px;
    height: 200px;
}

.azul {
    background-color: blue;
}
.vermelho {
    background-color: red;
}
.amarelo {
    background-color: yellow;
}