body {
    background-color: var(--background-color);
    font-family: "Kumbh Sans", sans-serif;
    height: 100vh;
}

hr {
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    gap: 25px;
    border-radius: 10px;
    height: 350px;
    width: 320px;
    margin: 20px;
}

.profile-informations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    height: 100%;
    margin-top: 28px;
}

.profile-informations img {
    width: 112px;
    border-radius: 50%;
}

.profile-numbers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 28px;
}

.profile-numbers .info {
    text-align: center;
}

.profile-informations p,
.profile-informations .age,
.profile-numbers .info .amount {
    font-weight: 700;
}

.profile-informations .age,
.profile-informations .city,
.profile-numbers .info .amount-type {
    color: var(--text-color);
}