@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Public Sans", sans-serif;
    color: #fff;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-obras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.obra {
    width: 335px;
    height: 431px;
    position: relative;
}

.container-obras .obra img {
    width: 100%;
}

.container-obras .obra .informacoes {
    position: absolute;
    bottom: 43px;
    left: 26px;
}

.container-obras .obra .informacoes h2 {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 700;
}

.container-obras .obra .informacoes h3 {
    font-size: 17px;
    font-weight: 300;
}